<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav id="nav">
        <div class="nav-container">
            <div class="nav-title">世界の食文化</div>
            <div class="nav-links">
                <a href="{% url 'app:query' %}" class="nav-link">チャットボット</a>
                <a href="{% url 'app:memory' %}" class="nav-link">質問履歴</a>
            </div>
        </div>
    </nav>
</body>
</html>